#include <winuser.h>

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "SMS"
            VALUE "FileDescription",  "Student Management System"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "sms_gtk"
            VALUE "OriginalFilename", "sms_gtk.exe"
            VALUE "ProductName",      "Student Management System"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
